.dropsContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    margin-left:  50px;
    margin-right:  50px;
    list-style: none;
    font-size: small;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    padding-left:30px;
    padding-right:30px;
    padding-top:30px;
  }
  
  .dropsContainer ul {
    padding: 0;
    margin: 0;
  }
  
  .category-title {
    font-weight: bold;
    list-style: none;
    margin-bottom: 5px;
    color: #333;
  }
  
  .category-li {
    list-style: none;
    margin-bottom: 3px;
    color: #666;
  }
  

  