.custom-file-input {
    position: relative;
    display: inline-block;
  }
  
  .custom-shape {
    width: 100px; /* Adjust size as needed */
    height: 100px;
    cursor: pointer;
  }
  
  .file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .individualImages{
    display: flex;
    flex-wrap: wrap;
    width: 389px;
  }

  .individualImg{
    border: solid 1px black;
    padding: 20px;
    margin: 10px;
  }