/* loginModal.css */

.custom-modal .modal-content {
    border-radius: 0px; 

  }
  
  .carousel-item img {
    height: 100px; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
    display: block; /* Ensures the image is displayed as a block element */
    margin: auto; /* Centers the image horizontally */
  }
  
  .carouselCaption {
    text-align: center; /* Center align the caption text */
    position: absolute; /* Position the caption absolutely */
    bottom: 0; /* Align the caption to the bottom */
    left: 0; /* Align the caption to the left */
    right: 0; /* Align the caption to the right */

  
  }
  
  .carouselItem {
    position: relative; /* Ensure the relative positioning for the carousel items */
  }
  
  .footer {
    text-align: center;
    font-size: small;
    margin-top: 20px;
  }
  .foot11{

  }
  
.foot2{

}



  .logEmail {
    text-align: center;
    width: 100%; /* Ensure it takes full width of its container */
    cursor: pointer;
  }
  